@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

:root {
    --font-family-primary: "Alumni Sans";
    --font-family-secondary: "Lancelot";
    --White: #FFFFFF;
  }

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.horizontalMarginWidth {
    width: calc((100vw - 1200px)/2);
    /* // TODO for the tablet and mobile view we have to calculate this width */
}

/* All For 100vh in MUI -----> */
.viewportContainer {
    min-height: calc(100vh - 56px);
}

@media screen and (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    .viewportContainer {
        min-height: calc(100vh - 48px);
    }
}

@media screen and (min-width: 600px) {
    .viewportContainer {
        min-height: calc(100vh - 64px);
    }
}

/* All For 100vh in MUI <----- */

.waveContainer {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.topContainer {
    background-image: url("../../assets/topWave.svg"), url("../../assets/upWave.svg");
}

.middleContainer {
    background-image: url("../../assets/downWave.svg"), url("../../assets/upWave.svg");
}

.bottomContainer {
    background-image: url("../../assets/downWave.svg"),
        url("../../assets/blob.svg"),
        url("../../assets/upWave.svg");
}